<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595904590235-eg7adv2m2mt0e3ckgb02sp11dka4inso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595904590235-eg7adv2m2mt0e3ckgb02sp11dka4inso</string>
	<key>API_KEY</key>
	<string>AIzaSyA7A9q_yNAXt_74R1rZWw3HJrn6VCckJsc</string>
	<key>GCM_SENDER_ID</key>
	<string>595904590235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncertBookAdmin</string>
	<key>PROJECT_ID</key>
	<string>ncertbook-a1a76</string>
	<key>STORAGE_BUCKET</key>
	<string>ncertbook-a1a76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595904590235:ios:13400390898d583359713e</string>
</dict>
</plist>